.logo{

    display: flex;
    justify-content: center;
}

.navlist{

    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.lienNav {

    text-decoration: none;
    color: #ff7f27;
    font-size: 22px;
}


.lienListe {

    text-decoration: none;
    color: rgba(69, 42, 113, 0.937);
    font-size: 18px;
}

.lienInscription{

    display: flex;
    justify-content: flex-end;
}

.formulaire{

    display: flex;
    justify-content: center;
}

.titre{

    text-align: center;
}

.centre{

   margin-left: 800px;
   font-size: 20px;
}

.champFiltre{

    display: flex;  
    justify-content: center;
}

.filtre{

    margin-left: 20px;
}

form label{

    margin-left: 20px;
}

.listeRecherche{

    display: flex;
    justify-content: center;
    margin-top: 50px;
}